// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.bubble{
    margin: 20px!important;
}

.framed{
    padding: 20px!important;
}

.bigbubble{
    margin: 50px!important;
}

.bigframed{
    padding: 50px!important;
}

.center{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.adaptwidth{
    width: 50%;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.spaceBetween{
    justify-content: space-between;
}

.fullsize{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .adaptwidth{
        width: 100%;
    }
}

a{
    text-decoration: none;
}