<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; min-height: 100%;">
    <div style="display: flex; flex-direction: column; width: 200px;"> 

      <img class="marginV" src="https://dummyimage.com/200x4:3"/>

      <div class="spaceUnder">
        <label>Login</label>
        <input type="text" placeholder="Type your login here"/>
      </div>
    
      <div class="spaceUnder"> 
        <label>Password</label>
        <input type="password" placeholder="Type your password here"/>
      </div>

      <a href="/hinkings/list"><button>Connexion</button></a>
      <div class="hSeparator"></div>
      <button>Inscription</button>
      <button class="marginV">Connexion avec Google</button>
    </div>
  </div>
 
</ion-content>
