<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; min-height: 100%;">
    <div style="display: flex; flex-direction: column; width: 200px;"> 

      <img class="marginV" src="https://dummyimage.com/200x4:3"/>

      <div class="spaceUnder">
        <label>Login</label>
        <ion-input type="text" placeholder="Type your login here"></ion-input>
      </div>
    
      <div class="spaceUnder"> 
        <label>Password</label>
        <ion-input type="password" placeholder="Type your password here"></ion-input>
      </div>

      <a href="/list" style="width: 100%;"><ion-button color="secondary" style="width: 100%;">Connexion</ion-button></a>
      <div class="hSeparator"></div>
      <ion-button color="secondary">Inscription</ion-button>
      <ion-button class="marginV" color="secondary">Connexion avec Google</ion-button>
    </div>
  </div>
 
</ion-content>
